.services .content {
  padding-top: 60px; }
  .services .content .text .line {
    height: 2px; }
  .services .content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 65px 0; }
    .services .content .container .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 45%;
      padding-top: 55px;
      margin: 0;
      min-width: 250px; }
      .services .content .container .box .avatar {
        padding-right: 16px; }
      .services .content .container .box .text-block {
        margin: 0;
        text-align: left; }
        .services .content .container .box .text-block .title {
          padding: 0;
          color: #000000;
          font-family: Lato;
          font-size: 20px;
          font-weight: 400;
          padding-bottom: 20px; }
        .services .content .container .box .text-block .description {
          text-align: left;
          padding: 0;
          color: #606060;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 22px; }
        .services .content .container .box .text-block a {
          color: #606060;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          text-decoration: underline; }

@media screen and (max-width: 400px) {
  .services .content .container {
    margin: 0 3%; }
    .services .content .container .box {
      width: 100%; } }
