@import "default";
@import "fonts";

.content{
	padding-bottom: 147px;
	.container{
		margin: 0 12%;
		.box{
			flex-direction: column;
			width: auto;
		
			.avatar{
			
			}
			.text-block{
				text-align: left;
				padding-top: 18px;
				color: #000000;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				.title{
					color: #000000;
					font-family: Lato;
					font-size: 20px;
					font-weight: 400;
				}
				.description{
					width: 454px;
					height: 86px;
					color: #606060;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 22px;
				}
				a{
					line-height: 28px;
					text-decoration: underline;
				}
			}
		}
	}
}
@media screen and (max-width : 400px){
	.content{
		.container{
			margin: 0 3%;
			.box{
				width: 100%;
				.avatar{
					width: 100%;
				}
				.text-block{
					width: 100%;
					.description{
						width: 100%;
					}
				}
			}
		}
	}
}