html(lang='en')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title WDS
		link(rel='stylesheet', href='css/font-awesome.min.css')
		link(rel='stylesheet', href='css/services.css')
		link(rel="stylesheet" type="text/css" href="slick/slick.css")
	body
		.nav
			input(class="check", type="checkbox", id="menu")
			label(class="pull", for="menu") WDS
			ul.menu
				div.menu-el
					a(href="./index.html") home
				div.menu-el
					a(href="./services.html") services
				div.menu-el
					a(href="./portfolio.html") portfolio
				div.menu-el
					a(href="./home.html", id="logo") WDS
				div.menu-el
					a(href="./team.html") our team
				div.menu-el
					a(href="./blog.html") our blog
				div.menu-el
					a(href="./contact.html") contact us
		.content
			.text
				.title Our services
				.line
				.description. 
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas euismod tellus nec tellus dictum malesuada. Cras vel condimentum justo. Nulla ullamcorper velit et ornare vehicula.
			.container
				.box
					.avatar
						img(src="./img/user.svg")
					.text-block
						.title Pellentesque felis nibh
						.description.
							Phasellus sit amet neque molestie nunc tincidunt ultrices. Donec laoreet mi sit amet gravida bibendum. Aliquam erat volutpat. Aliquam arcu est, malesuada a nisi in.
						a learn more
				.box
					.avatar
						img(src="./img/bubble.svg")
					.text-block
						.title Morbi faucibus mi vel dolor
						.description.
							Mauris in varius tellus. Vivamus sit amet volutpat arcu. Nullam in congue nunc, eu rutrum justo. Praesent id ultricies lacus. Phasellus fermentum leo malesuada.
						a learn more
				.box
					.avatar
						img(src="./img/headphones.svg")
					.text-block
						.title Sed faucibus enim fermentum
						.description.
							Vestibulum vel lectus sapien. Fusce non fringilla lacus, ut congue arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas..
						a learn more
				.box
					.avatar
						img(src="./img/pencil.svg")
					.text-block
						.title Nullam tristique, est sed suscipit
						.description.
							Cras vel condimentum justo. Nulla ullamcorper velit et ornare vehicula. Fusce egestas felis velit, non porttitor sapien hendrerit quis. Proin tempor dui elit, nec faucibus arcu.
						a learn more
				.box
					.avatar
						img(src="./img/padlock.svg")
					.text-block
						.title Proin iaculis, magna in rutrum
						.description.
							Vivamus non erat eu leo semper vulputate quis vel nibh. Aenean sodales ullamcorper lorem, sed posuere nibh pulvinar id. Phasellus eu velit id odio laoreet adipiscing eu vitae odio.
						a learn more
				.box
					.avatar
						img(src="./img/message.svg")
					.text-block
						.title Eget fermentum massa nibh
						.description.
							In eget lacus non mauris rutrum posuere at non est. Duis luctus sagittis ullamcorper. Quisque rhoncus pharetra lobortis. Proin lacinia ligula a risus porttitor aliquam non sit amet risus.
						a learn more
				.box
					.avatar
						img(src="./img/sunny.svg")
					.text-block
						.title Nam imperdiet nisi mauris
						.description.
							Maecenas condimentum lorem porttitor nisi suscipit tristique. Vivamus cursus vestibulum mi. Phasellus posuere nulla quis nunc aliquam varius. Integer dictum nisl id mauris.
						a learn more
				.box
					.avatar
						img(src="./img/musical-note.svg")
					.text-block
						.title Vitae laoreet lorem auctor ac
						.description.
							Suspendisse laoreet, eros in euismod euismod, nunc turpis lacinia est, eget malesuada sem felis eu dolor. Phasellus imperdiet eros sed fermentum euismod.
						a learn more
		.footer
			.smm
				i(class="fa fa-twitter" aria-hidden="true")
				i(class="fa fa-facebook" aria-hidden="true")
				i(class="fa fa-google-plus" aria-hidden="true")
				i(class="fa fa-pinterest-p" aria-hidden="true")
				i(class="fa fa-rss" aria-hidden="true")
			.copyright
				.text
					p © 2014 WebDesign Studio. All rights reserved.
					p Designed and developed by pcklab.com